<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    {% endblock %}
</head>
<body>
{{ include('partials/_nav.html.twig') }}
{{ include('partials/_sidebar.html.twig') }}
<div class="p-4 sm:ml-96">
    <div class=" border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 mt-14 p-10">
        {% block body %}{% endblock %}
    </div>
    {{ include('includes/flashes.html.twig') }}
</div>

</body>
</html>
