<div{{ attributes }}>

    {{ form_start(form) }}

    <h2 class="my-5 text-3xl font-thin">Verplicht 1 - Preventie adviseur </h2>
    {% for prevAdv in form.prevAdv %}
        {{ form_widget(prevAdv) }}
        {{ form_row(prevAdv.vars.button_delete, {label: 'Delete', attr: {class: 'border rounded-lg text-sm py-2 px-4 mb-2'}}) }}
    {% endfor %}
    {% if form.prevAdv|length < 2 %}
        {{ form_widget(form.prevAdv.vars.button_add, {label: 'Add', attr: {class: 'border rounded-lg py-2 px-5 text-sm'}}) }}

    {% endif %}

    <h2 class="my-5 text-3xl font-thin">Verplicht 1 - Bedrijf ICE informatie </h2>
    {% for info in form.informationICE %}
        {{ form_widget(info) }}
        {{ form_row(info.vars.button_delete, {label: 'Delete', attr: {class: 'border rounded-lg text-sm py-2 px-4 mb-2'}}) }}
    {% endfor %}
    {% if form.informationICE|length < 4 %}
        {{ form_widget(form.informationICE.vars.button_add, {label: 'Add', attr: {class: 'border rounded-lg py-2 px-5 text-sm'}}) }}

    {% endif %}

    <h2 class="my-5 text-3xl font-thin">Verplicht 1 - Urgent support informatie </h2>
    {% for infoSup in form.informationUrgentSupport %}
        {{ form_widget(infoSup) }}
        {{ form_row(infoSup.vars.button_delete, {label: 'Delete', attr: {class: 'border rounded-lg text-sm py-2 px-4 mb-2'}}) }}
    {% endfor %}
    {% if form.informationUrgentSupport|length < 4 %}
        {{ form_widget(form.informationUrgentSupport.vars.button_add, {label: 'Add', attr: {class: 'border rounded-lg py-2 px-5 text-sm'}}) }}

    {% endif %}

    <br>
    <button type="submit" class="border border-gray-100 py-2 px-10 mt-10">Werk deze registratie af</button>

    {{ form_end(form) }}
</div>
