<div{{ attributes }}>
    {{ form_start(form) }}
    {{ form_rest(form) }}
    {{ form_end(form) }}


    <div class="relative overflow-x-auto">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr class="text-white">
                <th scope="col" class="px-6 py-3">
                    Email
                </th>
                <th scope="col" class="px-6 py-3">
                    Bedrijf
                </th>
                <th scope="col" class="px-6 py-3">
                    Naam
                </th>
                <th scope="col" class="px-6 py-3">
                    Telefoon nummer
                </th>
                <th scope="col" class="px-6 py-3">
                    Envalior contact
                </th>
                <th scope="col" class="px-6 py-3">
                    Actions
                </th>
            </tr>
            </thead>
            <tbody>
            {% for user in this.users %}
            <tr class="bg-gray-800 border-gray-700 text-white">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ user.email }}
                </th>
                <td class="px-6 py-4">
                    {{ user.company }}
                </td>
                <td class="px-6 py-4">
                    {{ user.firstName }} {{ user.lastName }}
                </td>
                <td class="px-6 py-4">
                    {{ user.phoneNumber|phone_number_format }}
                </td>
                <td class="px-6 py-4">
                    {{ user.envaliorContact }}
                </td>
                <td>
                    Accepteren / Weiger / Verwijder
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    {% endfor %}
</div>
