<div {{ attributes }}>
    {{ form_start(form) }}
    <div class="grid grid-cols-4 gap-3">
        {{ form_row(form.email) }}
        {{ form_row(form.company) }}
        {{ form_row(form.status) }}
    </div>
    {{ form_end(form) }}

    <div class="relative overflow-x-auto">
        <table class="w-full text-sm text-left rtl:text-right  text-gray-400">
            <thead class="text-xs uppercase  bg-gray-700 text-gray-400">
            <tr class="text-white">
                <th scope="col" class="px-6 py-3">
                    Email
                </th>
                <th scope="col" class="px-6 py-3">
                    Bedrijf
                </th>
                <th scope="col" class="px-6 py-3">
                    Naam
                </th>
                <th scope="col" class="px-6 py-3">
                    Telefoon nummer
                </th>
                <th scope="col" class="px-6 py-3">
                    Envalior contact
                </th>
                <th scope="col" class="px-6 py-3">
                    Status
                </th>
                <th scope="col" class="px-6 py-3">
                    Actions
                </th>
            </tr>
            </thead>
            <tbody>
            {% for user in this.users %}
                <tr class="bg-gray-800 border-gray-700 text-white">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{ user.email }}
                    </th>
                    <td class="px-6 py-4">
                        {{ user.company }}
                    </td>
                    <td class="px-6 py-4">
                        {{ user.firstName }} {{ user.lastName }}
                    </td>
                    <td class="px-6 py-4">
                        {{ user.phoneNumber|phone_number_format }}
                    </td>
                    <td class="px-6 py-4">
                        {{ user.envaliorContact }}
                    </td>
                    <td class="px-6 py-4">
                        {{ user.status.value }}
                    </td>
                    <td>
                        {% if user.status.value == 'Pending' %}
                            <a href="/manage/user/accepted/{{ user.uuid }}">Accepteren</a> /
                            <a href="/manage/user/rejected/{{ user.uuid }}">Weiger</a> /
                            <a href="/manage/user/deleted/{{ user.uuid }}">Verwijder</a>
                        {% endif %}
                        {% if user.status.value == 'Accepted' %}
                            <a href="/manage/user/rejected/{{ user.uuid }}">Weiger</a> /
                            <a href="/manage/user/deleted/{{ user.uuid }}">Verwijder</a>
                        {% endif %}
                        {% if user.status.value == 'Rejected' %}
                            <a href="/manage/user/accepted/{{ user.uuid }}">Accepteren</a> /
                            <a href="/manage/user/deleted/{{ user.uuid }}">Verwijder</a>
                        {% endif %}

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
